body {
  font-family: "Inter", sans-serif !important;
}
.border-light {
  color: #f5f6fa;
}
.items img {
  width: 160px;
  height: 203px;
}
.items p {
  font-size: 11px;
  line-height: 1.4;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
}
.left p {
  width: 117px;
}
.right p {
  width: 136px;
}
p.price {
  font-weight: 600;
  font-size: 13px;
  line-height: 1.1;
  margin-bottom: 15px;
}
a.btn {
  padding: 0;
  border: 0;
  border-radius: 15px;
}
